@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1 style="text-align: center">Notizapp</h1>
<form style="text-align: center" action="/ReceiveNote" method="post">
    <input style="width: 400px;height: 700px" type="text" placeholder="Your Note" name="note">
    <input type="submit" value="Save">
</form>
